<ion-view title="{{pokemon.name}}">
    <ion-content padding="true" has-tabs="true">

        <div ng-show="pokemon.name == null" class="card">
            <div class="item item-text-wrap">
                <h2>Loading</h2>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-divider">
                    Details
                </div>
            <div class="item item-avatar">
                <img src="{{pokemon.sprites.front_default}}">
                <h2 class="pokemon-name"><span ng-bind="pokemon.name ? pokemon.name : 'Loading'"></span></h2>
                <p><span ng-bind="pokemonAlreadyCatched ? 'This Pokémon is already yours!' : 'Not catched yet!'"></span></p>
            </div>
        </div>

        <div ng-show="showNavigation && !pokemonAlreadyCatched">
            <div class="card">
                <div class="item item-divider">
                    Navigation
                </div>
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col-50">
                            <p>Distance: <span ng-bind="distanceToPokemon"></span> meter</p>
                            <button ng-click="catchPokemon()" ng-disabled="!catchButtonEnabled || pokemon.name == null" class="button button-small button-assertive pokemon-name">Catch! <span ng-bind="pokemon.name"></span></button>
                        </div>
                        <div class="col-50">
                            <p>Show on Maps</p>
                            <button ng-click="navigateToPokemon()" ng-disabled="pokemon.name == null" class="button button-small button-positive pokemon-name">Navigate to <span ng-bind="pokemon.name"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">
                    <div class="row">
                    <div class="col-50">
                        <h3>Measurements</h3>
                    </div>
                    <div class="col-50">
                        <h3>Experience</h3>
                    </div>
                </div>
                </div>
            <div class="item item-text-wrap">
                
                <div class="row">
                    <div class="col-50">
                        <p>Height: <span ng-bind="pokemon.height ? pokemon.height : ''"></span></p>
                        <p>Weight: <span ng-bind="pokemon.weight ? pokemon.weight : ''"></span></p>
                    </div>
                    <div class="col-50">
                        <p>Base: <span ng-bind="pokemon.base_experience ? pokemon.base_experience : ''"></span></p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-50">
                        <a ng-disabled="pokemon.name == null" class="button button-small button-positive" href="#/tab/pokemon/{{pokemon.name}}/stats">Show Stats</a>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>