<ion-tabs class="tabs-icon-top tabs-default">

  <!-- Pokemons Tab -->
  <ion-tab title="Pokemons" icon="icon ion-clipboard" href="#/tab/pokemons">
    <ion-nav-view name="pokemons-tab"></ion-nav-view>
  </ion-tab>

  <!-- My Pokémon tab -->
  <ion-tab title="My Pokémons" icon="icon ion-heart" href="#/tab/my-pokemons">
    <ion-nav-view name="my-pokemons-tab"></ion-nav-view>
  </ion-tab>

  <!-- Settings tab -->
  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
