/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.align-center {
    text-align:center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.pokemon-detail-image {
    height:96px;
    width:96px;
}

.pokemon-name{
    text-transform: capitalize;    
}

.is-catched-pokemon {
    background:#000000;
}